.jumbotron {
	background-image: url(../images/jumbotronbackground.jpg);
    background-size: cover;
    background-position: center; 
    text-align: right;
   /* margin-bottom: 95px;*/
    border: solid black 1px;


        
}

.jumbotron h3 {
	margin-bottom: 80px;
	color: #004B95;
} 

.jumbotron h2 {
	font-family: 'Faster One', cursive;
	font-size: 40px;
	color: #004B95;
}
th {
	font-weight: bold;
	font-style: italic;

} 

#add-train-btn {
	background-color: green;
}